/* CSS untuk semua halaman */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
}

/* Link */
a {
    text-decoration: none;
    color: white;
}

/* Tombol */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Form */
form {
    margin-top: 50px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Error Message */
p {
    margin: 10px 0;
    font-size: 14px;
}
